ipykernel
jupyter_contrib_nbextensions
torch
torchmetrics
torchvision
pandas
click
scikit-learn
flake8
seaborn
matplotlib
scikit-image
pytorch-lightning==1.9
omegaconf
hydra-core
albumentations
mlflow