DEVICE: cuda
DEVICE_NUM: 1 # takes affect only if GPU_NUM is 1
GPU_NUM: 1
EXPERIMENT_NAME: GrokkingEffect
RUN_NAME: ResNet50_no_augm_4
DESCRIPTION: null
CKPT_PATH: null

defaults:
  - dataset: cifar10
  - model: resnet50
  - transforms: default_trans
  - augmentations: null
  - criterion: cross_entropy
  - optimizer: adam_w
  - scheduler: null
  - metrics: classification
  - trainer: train
